* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 25px;
}

.header {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 160, 0.75),
    rgba(173, 216, 230, 0.75)),
    url("../img/header.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative;
}

.logo-container {
  left: 30px;
  position: absolute;
  top: 30px;
}

.logo {
  height: 70px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
}

.heading-quote {
  animation: moveFromLeft 1s 1s ease-out;
  display: block;
  font-family: "Lobster", cursive;
  font-size: 35px;
}

.heading-writer {
  animation: moveFromRight 1s 1s ease-out;
  display: flex;
  font-family: "Satisfy", cursive;
  font-size: 20px;
  font-weight: 700;
  justify-content: flex-end;
  letter-spacing: 2px;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}