@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 2.5rem; }

.heading-primary {
  backface-visibility: hidden;
  color: #fff;
  margin-bottom: 2.5rem; }
  .heading-primary--quote {
    animation: moveFromLeft 1s .5s ease-out;
    animation-fill-mode: backwards;
    display: block;
    font-family: "Lobster", cursive;
    font-size: 3.5rem; }
  .heading-primary--writer {
    animation: moveFromRight 1s .5s ease-out;
    animation-fill-mode: backwards;
    display: flex;
    font-family: "Satisfy", cursive;
    font-size: 2rem;
    font-weight: 700;
    justify-content: flex-end;
    letter-spacing: .2rem; }

.heading-secondary {
  background-clip: text;
  background-image: linear-gradient(to right, rgba(0, 0, 128, 0.9), rgba(0, 0, 255, 0.7));
  color: transparent;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: all .2s;
  -webkit-background-clip: text; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: skewX(15deg) skewY(2deg) scale(1.1); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: .5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.card {
  height: 50rem;
  perspective: 150rem;
  position: relative;
  -moz-perspective: 150rem; }
  .card__side {
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 1.6rem;
    height: 50rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .8s ease;
    width: 100%; }
    .card__side--font {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--font {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all .2s;
    width: 55%;
    z-index: 5; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 1rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      outline: 1.5rem solid rgba(0, 0, 255, 0.8);
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.btn:link, .btn:visited {
  border-radius: 10rem;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  font-size: 1.3rem;
  font-weight: 700; }

.btn--animated {
  animation: moveFromBottom 1s 1s ease-out;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  border-bottom: 1px solid #0000FF;
  color: #0000FF;
  display: inline-block;
  font-size: 1.6rem;
  padding: 3px;
  text-decoration: none;
  transition: all .2s; }

.btn-text:hover {
  background-color: #0000FF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  transition: transform .2s; }
  .feature-box__icon {
    background-clip: text;
    background-image: linear-gradient(to right, rgba(0, 0, 128, 0.9), rgba(0, 0, 255, 0.7));
    color: transparent;
    display: inline-block;
    font-size: 6rem;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-0.3rem) scale(1.05); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.75), rgba(173, 216, 230, 0.75)), url("../img/header.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  position: relative; }
  .header__logo-container {
    left: 3rem;
    position: absolute;
    top: 3rem; }
  .header__logo {
    height: 7rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 22rem 0 25rem 0; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.75), rgba(173, 216, 230, 0.75)), url("../../img/feature-bg.jpg");
  background-size: cover;
  background-position: top;
  margin-top: -7rem;
  transform: skewY(-6deg); }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  background-color: #f7f7f7;
  margin-top: -7rem;
  padding: 20rem 0 20rem 0; }
