// Color
$color-primary: #0000FF;
$color-primary-light: #ADD8E6;
$color-primary-dark: #0000A0;

$color-navy-blue: #000080;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// Font
$font-size-default: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;